* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

body {
  background-image: url("../assets/images/space.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#aliens {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 80vw 10vw;
      grid-template-columns: 10vw 80vw 10vw;
  -ms-grid-rows: 30vh 18vh 18vh;
      grid-template-rows: 30vh 18vh 18vh;
  grid-row-gap: 20px;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: ". mothership ." ". bombers ." ". fighters ." ". . .";
}

#aliens #mothership {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: mothership;
  width: 150px;
  justify-self: center;
  position: relative;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aliens #mothership img {
  width: 150px;
  height: 100px;
}

#aliens #mothership span {
  color: white;
  position: absolute;
  top: 20px;
  left: 70px;
  display: inline-block;
  width: 20px;
}

#aliens #bombers {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: bombers;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aliens #bombers .wrapper {
  position: relative;
  height: 100px;
  width: 75px;
}

#aliens #bombers .wrapper img {
  height: 100px;
  width: 75px;
}

#aliens #bombers .wrapper .hit-points {
  color: white;
  position: absolute;
  top: 5px;
  left: 27px;
  display: inline-block;
  width: 20px;
}

#aliens #fighters {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: fighters;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aliens #fighters .wrapper {
  position: relative;
  height: 50px;
  width: 40px;
}

#aliens #fighters .wrapper img {
  height: 50px;
  width: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#aliens #fighters .wrapper span {
  color: white;
  position: absolute;
  top: 27px;
  left: 13px;
  display: inline-block;
  width: 20px;
}

.hit {
  visibility: visible;
  opacity: 1;
}

.hit {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#player img {
  width: 100px;
  height: 125px;
}

#winning-message {
  display: inline-block;
  position: fixed;
  z-index: 1;
  left: 15vw;
  top: 10vh;
  width: 70%;
  height: 80%;
  overflow: auto;
}

#winning-message #game-over {
  font-size: 60px;
  text-align: center;
  color: whitesmoke;
}

#winning-message #message {
  font-size: 20px;
  text-align: center;
  color: whitesmoke;
}

#winning-message #play-again {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
}

#winning-message #play-again p {
  color: whitesmoke;
}

#winning-message #play-again p input[type=button] {
  border: 1px solid blue;
  width: 60px;
  height: 30px;
}

.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 2s linear;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 2s, opacity 2s linear;
  transition: visibility 0s 2s, opacity 2s linear;
}
/*# sourceMappingURL=styles.css.map */